<!DOCTYPE html>
<html>

<head>
    <script src="face-api.js"></script>
    <script src="js/commons.js"></script>
    <script src="js/faceDetectionControls.js"></script>
    <script src="js/imageSelectionControls.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2/webcomponents-loader.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@1/src/zero-md.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>

<body>
    <div id="navbar"></div>
    <div class="center-content page-container">
        <zero-md src="home.md"></zero-md>
        <div style="position: relative" class="margin">
            <img id="inputImg" src="" style="max-width: 800px;" />
            <canvas id="overlay" />
        </div>
    </div>
</body>



<script>

    $(document).ready(function () {
        renderNavBar('#navbar', 'home')
    })

</script>